{% extends 'presta/base.html.twig' %}
{% block title %}Connexion au site{% endblock %}

{% block body  %}
   <style>
    {# linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)), #}
        body {
            justify-content: center;
            height: 100vh;
            background-image:
            url('{{ asset('build/images/nature1.jpg') }}');
            background-repeat: no-repeat; background-size: cover; background-position: center; 
            margin:0;
            padding:0;  
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            min-height:100vh;
        }
        .contenu {
        flex:1 0 auto;
    }
        
    </style>

<div class="container contenu ">
        <!--<div clnerass="col-md-4">&nbsp;</div>&nbsp;&nbsp;&nbsp; -->
    <div class="row ">
        <div class="col-md-4 m-auto text-center" align="center">
            <div class="card">
                <h5 class="card-header info-color white-text text-center py-4 mb-3">
                    <strong>Connectez vous !</strong>
                </h5>
                {% if hasError %}
                    <div class="alert alert-danger">Une erreur est survenue, le nom d'utilisateur ou alors le mot de passe est invalide</div>
                {% endif %}
                <div class="card-body px-lg-5 pt-0">
                    <form action="{{ path('presta_account_login') }}" class="text-center" style="color: #757575;" method="post">
                        <input type="hidden" name="_target_path" value="{{ path('account_index') }}"/>
                        <div class="md-form input-with-post-icon">
                            <i class="fas fa-envelope  input-prefix"></i>
                            <input type="email" id="materialLoginFormEmail" name="_username" class="form-control" required value="{{username}}">
                            <label for="materialLoginFormEmail">Email</label>
                        </div>
                                <!-- Password -->
                        <div class="md-form mt-4" style="max-width:20rem;margin:2rem auto;">
                            <input type="password" id="password" name="_password" class="form-control" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember" name="_remember_me">
                            <label class="custom-control-label" for="defaultLoginFormRemember">Se souvenir de moi </label>
                        </div>
                        <div class="md-form">
                            <button type="submit" class="btn btn-primary"> <i class="fas fa-lock-open"></i>
                                Connexion !
                            </button>
                                <p><a href="{{ path('presta_account_register') }}" class="btn btn-link">Je n'ai pas encore de compte !</a></p>
                                <p>Mot de passe oublié ? <a href="{{path('forgotten_password')}}">Récuperer</a></p>
                        </div>
                    </form>
                </div>         
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascripts %}

<script src="{{ asset('build/js/password.js') }}"></script>

{% endblock %}



